.header{

  background-color: #191919;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header__block{
    display: flex;
    gap: 25px;
    h1{
      font-size: 30px;
      font-weight: bold;
    }
  }
  .recommendation{
    border-radius: 10px;
    margin: auto;
    background-color: #333333;
    width: 88%;
    top: 75px;
    position: absolute;
    Link{
      padding: 3px 15px ;
    }
    div{
      padding: 3px 15px ;
    }
    div:hover{
      background-color: grey;
    }
  }
}